
body > footer {
  background-color: #4b4b4b; }
  body > footer div.item:last-child {
    margin: 0; }
  body > footer .item {
    width: 31.91489%; }
    @media screen and (max-width: 767px) {
      body > footer .item {
        width: 48.93617%; } }
    @media screen and (max-width: 479px) {
      body > footer .item {
        width: 100%; } }
  body > footer #more h2 {
    color: white; }
  body > footer #more li {
    margin: 12px 0; }
    @media screen and (max-width: 480px) {
      body > footer #more li {
        margin: 8px 0; } }
    body > footer #more li a {
      font-size: 1.71429em;
      font-weight: 300;
      color: white; }
      body > footer #more li a:hover {
        text-decoration: underline; }
    body > footer #more li:first-child {
      margin-top: -10px; }
      @media screen and (max-width: 760px) {
        body > footer #more li:first-child {
          margin-top: 0; } }
  body > footer #follow h2 {
    color: white; }
  body > footer #follow ul li {
    float: left;
    width: 20%;
    margin: 0 6.66667% 0 0; }
    body > footer #follow ul li a {
      display: block;
      width: 100%;
      background-color: #222222;
      font-size: 1.85714em;
      text-align: center;
      line-height: 1.85714em;
      color: white;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      body > footer #follow ul li a:hover {
        background-color: white;
        cursor: pointer;
        color: #222222;
        color: white;
        background-color: #ee8a1d;        }
    body > footer #follow ul li:last-child {
      margin-right: 0; }
  body > footer #latest-tweet {
    float: left;
    width: 100%;
    padding: 25px 0 0 0; }
    @media screen and (max-width: 767px) {
      body > footer #latest-tweet {
        display: none; } }
    body > footer #latest-tweet h2 {
      margin: 0 0 14px 0; }
    body > footer #latest-tweet p {
      color: white; }
      @media screen and (max-width: 979px) {
        body > footer #latest-tweet p {
          font-size: 0.85714em; } }
    body > footer #latest-tweet p.author {
      padding: 20px 0 0 0;
      text-align: right; }
    body > footer #latest-tweet .message {
      position: relative;
      background-color: #222222;
      padding: 10px 10px 15px 10px; }
      body > footer #latest-tweet .message:after {
        position: absolute;
        display: inline-block;
        border-left: 20px solid #222222;
        border-bottom: 20px solid transparent;
        border-right-color: #222222;
        bottom: -20px;
        right: 55px;
        content: ''; }
  body > footer #contact h2 {
    color: white; }
  @media screen and (max-width: 479px) {
    body > footer #contact {
      display: none; } }
  body > footer #contact ul {
    margin: -2px 0 0 0; }
    body > footer #contact ul li.field {
      margin: 0 0 20px 0;
      background-color: #5d5e5e;
      border: 2px solid #6f6f6f;
      padding: 10px 10px;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      body > footer #contact ul li.field input[type='text'],
      body > footer #contact ul li.field textarea {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        font-size: 1em;
        color: white; }
        body > footer #contact ul li.field input[type='text']::-webkit-input-placeholder,
        body > footer #contact ul li.field textarea::-webkit-input-placeholder {
          color: white; }
        body > footer #contact ul li.field input[type='text']:-moz-placeholder,
        body > footer #contact ul li.field textarea:-moz-placeholder {
          color: white; }
        body > footer #contact ul li.field input[type='text']::-moz-placeholder,
        body > footer #contact ul li.field textarea::-moz-placeholder {
          color: white; }
        body > footer #contact ul li.field input[type='text']:-ms-input-placeholder,
        body > footer #contact ul li.field textarea:-ms-input-placeholder {
          color: white; }
      @media screen and (max-width: 979px) {
        body > footer #contact ul li.field {
          margin: 0 0 18px 0;
          padding: 3px 10px; }
          body > footer #contact ul li.field input[type='text'],
          body > footer #contact ul li.field textarea {
            font-size: 0.85714em; } }
      body > footer #contact ul li.field textarea {
        height: 50px; }
    body > footer #contact ul li.field.hover {
      border-color: white; }
    body > footer #contact ul li.submit {
      margin-top: -10px; }
      body > footer #contact ul li.submit:hover {
        cursor: pointer; }
      body > footer #contact ul li.submit button {
        float: right;
        border: 0;
        font-size: 1.28571em;
        font-weight: 400;
        cursor: pointer;
        color: white;
        background: transparent; }
        body > footer #contact ul li.submit button span {
          float: left; }
        body > footer #contact ul li.submit button i {
          float: right;
          border: 2px solid white;
          width: 20px;
          margin: 0 0 0 10px;
          font-size: 0.85714em;
          color: white;
          line-height: 1em;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition-property: all;
          -moz-transition-property: all;
          -o-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s; }
        body > footer #contact ul li.submit button:hover i {
          background-color: white;
          color: #4b4b4b; }
  body > footer .column:last-child {
    margin: 0; }
  @media screen and (min-width: 0) and (max-width: 979px) {
    body > footer #more li a {
      font-size: 1.28571em; } }
  @media screen and (min-width: 768px) and (max-width: 979px) {
    body > footer #follow ul li {
      margin: 0 14px 0 0; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    body > footer .container {
      padding-bottom: 72px;
      margin-bottom: 20px; }
      body > footer .container #follow {
        position: absolute;
        bottom: 0;
        width: 100% !important; }
        body > footer .container #follow h2 {
          float: left;
          padding: 0 20px 0 0; }
        body > footer .container #follow ul {
          float: left;
          width: 320px; }
          body > footer .container #follow ul li {
            width: 46px;
            height: 40px;
            margin: 0 10px 0 0; }
            body > footer .container #follow ul li a {
              font-size: 1.57143em; } }
  @media screen and (max-width: 479px) {
    body > footer #follow {
      float: none;
      position: relative;
      margin: 20px 0 0 0; }
      body > footer #follow h2 {
        float: none;
        padding: 0 20px 0 0; }
    body > footer #more {
      float: none; } }


.three-cols {
  clear: both; }
  .three-cols:after {
    clear: both;
    display: block;
    content: ''; }
  .three-cols h2 {
    font-weight: 300;
    color: #222222;
  padding-bottom: 10px; }
  .three-cols ul {
    list-style: none; 
    }
  .three-cols ul > li:last-child {
    margin-right: 0; }
  .three-cols .item {
    float: left;
    position: relative;
    margin: 0 2.12766% 0 0;
    margin-right: 5%;
    }

    
    
*.icon-orange {color: #f88e1e}
*.icon-gray { color: #9e9e9e; }
*.icon-silver {color: silver}
*.icon-big {font-size: 20px }
*.icon-margin {margin-bottom: 40px; }
*.icon-padding {padding-bottom: 40px; }
*.icon-no-decor {
  text-decoration: none;
  }

  
.icon-6x{font-size:6em;}.icon-6x.icon-border{border-width:6px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; }
.icon-7x{font-size:7em;}.icon-7x.icon-border{border-width:7px;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px; }

